.ProductQuoter {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
}